:root {
  --body-bg-color: #fefdf9;
  --links-color: #9d9ca3;
  --box-2-bg-color: #00001a;
  --box-2-font-color: #f3f4f6;
  --box-3-bg-color: #fefdf9;
  --button-bg-color: #f15d51;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Inter", serif;
  background: var(--body-bg-color);
  padding: 2em 4em;
}

a {
  text-decoration: none;
  text-transform: capitalize;
}

li {
  list-style: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links a {
  color: var(--links-color);
  font-weight: 400;
  font-size: 16px;
}

.nav-links .menu-icon {
  display: none;
}

.hero-section {
  display: grid;
  grid-template-areas:
    "one one two"
    "one one two"
    "three four two";
  margin-top: 2em;
}

.hero-section .box-1 {
  grid-area: one;
  overflow: hidden;
}

.hero-section .box-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-section .box-2 {
  grid-area: two;
  background-color: var(--box-2-bg-color);
  padding: 6em 1.5em;
  color: var(--box-2-font-color);
}

.hero-section .box-2-content {
  border-bottom: 1px solid rgba(255, 255, 255, 0.527);
}

.hero-section .box-2-content h2 {
  color: #efa855;
  text-transform: capitalize;
  font-size: 1.8rem;
  font-weight: 700;
}

.hero-section .box-2-content .P1 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.hero-section .box-2-content .P2 {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 2em;
  opacity: 0.8;
}

.hero-section .box-3 {
  grid-area: three;
  background-color: var(--box-3-bg-color);
  color: #00001a;
  padding: 2em 1em;
}

.hero-section .box-3 p {
  font-size: 3rem;
  font-weight: 900;
}

.hero-section .box-4 {
  grid-area: four;
  background-color: var(--box-3-bg-color);
  color: #00001a;
  padding: 3em 1em;
  align-self: flex-start;
  justify-self: flex-start;
}

.hero-section .box-4 p {
  opacity: 0.8;
  font-size: 1rem;
  font-weight: 400;
}

.hero-section .box-4 .button {
  padding: 1em 2em;
  margin-top: 2rem;
  font-size: 1em;
  font-weight: 600;
  color: #00001a;
  background-color: var(--button-bg-color);
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
}

.sub-hero-section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 2em;
}

.sub-hero-section .box {
  padding: 2em 0.5em;
}

.sub-hero-section .box img {
  width: 100%;
  height: 100%;
  padding: 0.5em 0.2em;
}

.sub-hero-section .box h3 {
  color: #e95e5e;
  font-size: 1.8em;
  font-weight: 500;
}

.sub-hero-section .box .P1 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 0.5em;
  color: #00001a;
}

.sub-hero-section .box .P2 {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0.5em;
  opacity: 0.8;
}

/* responsive  */

@media (max-width: 768px) {
  body {
    padding: 2em 3em;
  }

  .hero-section {
    grid-template-areas:
      "one one one"
      "one one one"
      "three four four"
      "two two two";
  }

  .hero-section .box-2 {
    padding: 2em 1.5em;
  }

  .sub-hero-section {
    grid-template-columns: repeat(4, 1fr);
  }

  nav .nav-links ul li {
    display: none;
  }

  .nav-links .menu-icon {
    display: block;
    font-size: 1.3em;
    transition: transform 0.3s ease;
  }

  .nav-links .menu-icon:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

@media (max-width: 640px) {
  body {
    padding: 2em 2em;
  }

  .sub-hero-section {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-section .box-3 {
    padding: 2em 1em;
    text-align: start;
  }

  .hero-section .box-3 P {
    font-size: 2.5em;
  }

  .hero-section .box-4 {
    padding: 3em 0em;
  }
}

@media (max-width: 475px) {
  body {
    padding: 2em 2em;
  }

  .hero-section {
    grid-template-areas:
      "one one one"
      "one one one"
      "three three three"
      "four four four"
      "two two two";
  }

  .hero-section .box-3 {
    padding: 0.8em 0em;
    text-align: start;
  }

  .hero-section .box-4 {
    padding: 0.8em 0em;
  }

  .hero-section .box-4 .button {
    padding: 0.5em 1em;
  }

  .sub-hero-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 375px) {
  body {
    padding: 2em 1.5em;
  }

  .hero-section .box-3 p {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.3em;
    margin-top: 0.5em;
  }

  .hero-section .box-4 p {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .hero-section .box-2 {
    margin-top: 1em;
  }

  .sub-hero-section {
    grid-template-columns: repeat(1, 1fr);
    margin-top: -1em;
  }

  .sub-hero-section .box {
    padding: 2rem 0rem;
  }

  .sub-hero-section .box img {
    padding: 0rem;
    margin-top: 1.5em;
  }

  .sub-hero-section .box h3 {
    font-size: 3em;
    font-weight: 500;
  }

  .sub-hero-section .box .P1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0.5em;
    color: #00001a;
  }

  .sub-hero-section .box .P2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 0.5em;
    opacity: 0.8;
  }
}
