* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  max-width: 800px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem;
}

.card a {
  text-decoration: none;
  color: white;
  padding: 0.5em 1.5em;
  border: 2px solid white;
  border-radius: 1.5em;
  width: max-content;
  margin-top: auto;
  font-family: "Lexend Deca", serif;
  font-size: 14px;
}

.card p {
  font-family: "Lexend Deca", serif;
  font-weight: 300;
  color: white;
  line-height: 1.5em;
  margin-bottom: 2rem;
}

.card h1 {
  font-family: "Big Shoulders Display", serif;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  margin-bottom: 2rem;
}

.card img {
  width: 60px;
  height: 40px;
  margin-bottom: 2rem;
}

.orange-card {
  background-color: #e28525;
  border-radius: 8px 0px 0px 8px;
}

.cyan-card {
  background-color: #016972;
}

.dark-cyan-card {
  background-color: #003735;
  border-radius: 0px 8px 8px 0px;
}
