@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 350px;
  border-radius: 24px;
  padding: 20px;
  border: 1px solid black;
}

.img-container {
  position: relative;
  height: 150px;
  width: 150px;
  background-color: #3e70f1;
  border-radius: 50%;
  padding: 3px;
}

.img-container #img-id {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.profile-card .txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.txt .job {
  font-size: 20px;
  font-weight: 600;
}
.txt .name {
  font-size: 15px;
  font-weight: 400;
}

.profile-card .link {
  display: flex;
  align-items: center;
}

.link .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  text-decoration: none;
  margin: 0 10px;
  background-color: blue;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin-top: 1.5vh;
}

.profile-card .buttons {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-top: 2vh;
}

.buttons .button {
  padding: 5px 25px;
  border-radius: 24px;
  border: none;
  color: #fff;
  background-color: #3e70f1;
  margin: 5px;
  border-color: 1px solid;
  cursor: pointer;
  font-weight: 500;
  margin-top: 4px;
}

.profile-card .social-media {
  display: flex;
  align-items: center;
  margin-top: 2vh;
}

.social-media .like-share-comment {
  padding: 0 20px;
  margin: 3px;
  border-right: 1px solid #c1c1c2;
  /* background-color: black; */
  /* color: white; */
}
